rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Publicly readable content for the store
    match /{folder:(categories|products|settings)}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && get(/databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    // ID cards can be written by the user who is placing the order.
    // They are only readable by someone with the unguessable download URL.
    // The URL itself is stored in the order object, which is protected by database rules.
    match /id_cards/{userId}/{orderId}/{fileName} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
